%h1 BeachSlap - статистика пляжки 2013 (давно это было)
%ul
  %li 
    = link_to "Результаты игр", games_path
  %li 
    = link_to "Рейтинг и статистика игроков", players_path
  %li 
    = link_to "Отчёт по легионерам и JackPot", '/reports/legioners'
